{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% if request.GET.command == 'verification' %}
<br><br><br>
<div class="row justify-content-center">
    <div class="alert alert-success">
        <h4 class="alert header">Well done!</h4>
        <p>Thank you for signing up! We’ve sent a verification email to <b>{{ request.GET.email }}</b>. Please verify
            it.</p>

        <hr class="border-green-400 my-2">
        <p>Already Verified? <a href="{% url 'accounts:login' %}">Log in</a></p>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6"><br><br><br>
            <h2 class="text-center my-4">Login </h2>
             {% include 'includes/alerts.html' %}
            <form action="{% url 'accounts:login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <br>
            <p> Don't have an account? <a href="{% url 'accounts:sign_up' %}">Register</a></p>

        </div>
    </div>
</div>
{% endif %}
{% endblock %}