{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Order
{% endblock title %}


{% block content %}
<br><br><br>
<h2 class="text-center">Checkout</h2>
<div class="container justify-content-center">
    Your Order
    <ul>
        {% for item in cart %}
        <li>
            {{item.quantity}}x{{item.product.name}}
            <span>$ {{item.total_price}}</span>
        </li>
        {% endfor %}
    </ul>
    {% if success %}
    <div class="alert alert-success" role="alert">
        Your order has been successfully placed! A confirmation email has been sent to you.
        <br><br>
        <b>Order ID: </b>{{order.order_id}}
      </div>

    <p>Total: $ {{cart.get_total_price}}</p>

    {% endif %}

</div>
<br>
<div class="container justify-content-center">
    <form method="post">
        {{ form |crispy }}
        {% csrf_token %}
        <p><input type="submit" value="Place Order" class="btn btn-primary"></p>

    </form>
</div>
{% endblock %}